.container {
  display: flex;
  column-gap: 2rem;
}

.list {
  padding: 2rem;
  border: 1px solid black;
  border-radius: 1rem;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}
