.board {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.guess-table {
  width: 100%;
  height: 100%;
}

.input-form {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  align-items: flex-end;
}
.input-div {
  display: flex;
  flex-direction: column;
}
.input-div input {
  height: 2rem;
  border-radius: 5px;
  font-size: 1.2rem;
}
.unused-letters {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translate(-50%, 100%);
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 1.6rem;
  justify-content: center;
}
